<script src="/bower_components/bootstrap/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/js/main.js"></script>

<br>
<footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
	        <h5 class="text-uppercase font-weight-bold">Contact</h5>
	        <p>Street 1, Office 2</p>
	        <p>City, Country</p>
	        <a href="#"><p>anonymous@anon.org</p></a>
	        <p>+123 456 789</p>
	        <div class="social-networks">
	            <a href="" class="facebook"><i class="fa fa-facebook"></i></a>
	            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
	            <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
	        </div>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">

          <!-- Content -->
          <h5 id="map-container" class="text-uppercase font-weight-bold"></h5>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2058.776490756397!2d23.539885347281903!3d58.9351732467407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46f2a776ef37589d%3A0x8adb6075f9469fe1!2sTallinn+University+Haapsalu+College!5e0!3m2!1sen!2see!4v1542399511858" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"><p>&copy; Copyright 2018</p>
    </div>
  </footer>
</body>
</html>