html, body {
	height: 100%;
	margin-top: 30px;
	display: flex; 
  	flex-direction: column; 
}

footer {
	width: 100%;
	margin-top: auto; 
	text-align: center;
    background-color: rgb(52, 58, 64);
    color: white;
    padding-top: 20px;
}

footer .row {
    margin: 0 85px;
}

footer .footer-copyright p {
    margin: 10px;
    color: rgb(255, 255, 255);
}

footer h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

footer a {
    color: none;
    text-decoration: underline;
}

footer a:hover,
footer a:focus {
    text-decoration: none;
    color: white;
}

footer .social-networks {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer .fa {
    font-size: 30px;
    margin-right: 25px;
    background-color: white;
    color: #182c39;
    border-radius: 51%;
    padding: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 31px;
    text-decoration: none;
    transition: color 0.2s;
}

footer .fa-facebook:hover {
    color: #2b55ff;
}

footer .fa-facebook:focus {
    color: #2b55ff;
}

footer .fa-google-plus:hover {
    color: red;
}

footer .fa-google-plus:focus {
    color: red;
}

footer .fa-twitter:hover {
    color: #00aced;
}

footer .fa-twitter:focus {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    footer {
        text-align: center;
    }
    footer .row {
        margin: 0;
    }
}